<!--Mostrando los datos en el navegador-->
<div class="container p-4">
<div class="offset-md-3">
    <div class="row">
        {{#each registers}}
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-tittle d-flex justify-content-between align-items-center">Resultados de busqueda</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between align-items-center text-muted">De: 
                        {{name}}<!-- <a href="/registers/edit/{{id}}"><i class="fa fa-edit"></i></a>-->
                    </h5>
                    <textarea class="form-control p-2 mb-3" rows="7">{{datos}}</textarea>
                    <form action="/registers/delete/{{id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-block btn-sm"><i class="fa fa-trash"></i>
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {{else}}
        <!--Si no hay datos mostrara un mesaje por pantalla-->
        <div class="card">
            <div class="card-body">
                <p class="lead">No hay registros de busquedas,</p>
                <p class="lead">pruebe a realizar una.</p>
                <a href="/persons" class="btn btn-success btn-block">Ver Datos</a>
                <!--<p class="lead">There are not notes yet.</p>
                <a href="/registers/add" class="btn btn-success btn-block">Create One!</a>-->
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>