<head>
    <!--SCRIPTS DE RECONOCIMIENTO-->
    <script defer src="/script/face-api.min.js"></script>
    <script defer src="/script/scimage.js"></script>
</head>
<div class="container p-2">
    <div class="offset-md-3">
        <div class="row text-center">
            {{#with persons.[0]}}
            <h1>
                {{name}} {{lastname}} > Edad: {{age}}
            </h1>
            <input type="hidden" id="name" value="{{name}} ">
            <input type="hidden" id="lastname" value="{{lastname}}">
            {{/with}}
            <div class="d-none">
                <table id="path">
                    {{#each persons}}
                    <tr>
                        <td>{{path}}</td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
    <div id="resobt"></div>
</div>
{{#if persons}}
<input type="file" id="imageUpload">
<div class="Contenedor" id="contenedor"> </div>
{{else}}
<div class="container p-2">
    <div class="bg-info p-5">
        <h2>Nota:</h2>
        <p>Para usar la herramienta de analisis de imagen, primeramente necesita estar Logueado
        </p>
        <img src="/style/img/login.png" class="mx-auto d-block m-4 logo">
        <p>Una vez se encuentre logueado en al herramienta, necesita revisar si los datos de la persona ha buscar se encuentran registrados, de lo contrario registrar los nuevos datos, echo esto se requerira el nombre y el apellido como datos para la busqueda
        </p>
        <img src="/style/img/busqueda.png" class="mx-auto d-block m-4 logo">
    </div>
</div>
{{/if}}