<head>
    <!--SCRIPTS DE RECONOCIMIENTO-->
    <script defer src="/script/face-api.min.js"></script>
    <script defer src="/script/scimage.js"></script>
</head>
<div class="container p-2">
    <div class="offset-md-3">
        <div class="row text-center">
            {{#repite persons}}
            <h1>
                {{name}} {{lastname}} > Edad: {{age}}
            </h1>
            {{/repite}}
            <div class="d-none">
                <table id="namelastname">
                    {{#each persons}}
                    <tr>
                        <td>{{name}} {{lastname}}</td>
                    </tr>
                    {{/each}}
                </table>
                <table id="path">
                    {{#each persons}}
                    <tr>
                        <td>{{path}}</td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
    {{#if persons}}
    <div id="resobt"></div>
</div>
<input type="file" class="btn-info" id="imageUpload">
<div class="Contenedor" id="contenedor"> </div>
{{else}}
<div class="container p-2">
    <div class="bg-danger p-4">
        <h2>Error!!!</h2>
        <p>No se encontro ningun dato para analizar,</p>
        <p>realice una busqueda primero</p>
    </div>
</div>
{{/if}}