<!--Mostrando los datos en el navegador-->
<div class="container p-2">
    <div class="offset-md-3">
        <form action="/persons/see" method="POST">
            <div class="form-row align-items-center">
                <div class="col-sm-3 my-1">
                    <input type="text" class="form-control text-center" name="name" placeholder="name">
                </div>
                <div class="col-sm-3 my-1">
                    <input type="text" class="form-control text-center" name="lastname" placeholder="lastname"
                        autocapitalize="words">
                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-user"></i> Ver
                        Datos</button>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="container-fluid">
    <div class="row text-withe p-4 text-center">
        <div class="col-sm-6">
            {{#with persons.[0]}}
            <i class="fab fa-yarn fa-10x"></i>
            <h1 class="card-tittle">
                {{name}} {{lastname}}
            </h1>
            <h3 class="card-tittle">
                Edad: {{age}}
            </h3>
            <hr class="my-4">
            <h3 class="card-tittle">
                Busqueda en:
            </h3>
            <a href="/imagedetect/{{name}}/{{lastname}}" class="btn btn-primary" role="button"><i class="fa fa-image">
                    Imagen</i></a>
            <a href="/videodetect/{{name}}/{{lastname}}" class="btn btn-secondary" role="button"><i class="fa fa-video"> Video</i></a>
            {{else}}
            <div class="bg-danger">
                <h3>No recorder information</h3>
                <p>Le recomendamos, revisar los datos introducidos o realizar un nuevo registro de la persona a buscar
                </p>
                <i class="fa fa-child fa-10x"></i><i class="fa fa-times-circle fa-5x"></i>
            </div>
            {{/with}}
        </div>
        <div class="col-sm-6">
            <div class="row">
                {{#each persons}}
                <div class="col-md-5">
                    <div class="card animated fadeInRight">
                        <img src="{{path}}" class="card-img-top imgperson">
                        <div class="card-body">
                            <form action="/persons/delete/{{id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-block btn-sm"><i
                                        class="fa fa-trash"></i>
                                    Delete
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {{else}}
                <!--Si no hay datos mostrara un mesaje por pantalla-->
                <div class="card mx-auto">
                    <div class="card-body">
                        <p class="lead">There are not registers yet.</p>
                        <a href="/persons/add" class="btn btn-success btn-block">Create One!</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>