<head>
    <!--SCRIPTS DE BOTTON-->
    <script defer src="/script/button.js"></script>
</head>
<!--Mostrando los datos en el navegador-->
<div class="container p-2">
    <div class="offset-md-3">
        <form action="/persons/see" method="POST">
            <div class="form-row align-items-center">
                <!--<div class="col-sm-3 my-1" id="nombre">
                    <div>
                    <input type="text" class="form-control text-center" name="name" placeholder="name">
                    </div>
                </div>-->
                <div class="col-sm-3 my-1" id="ci">
                    <div>
                    <input type="text" class="form-control text-center" name="ci" title="Digite la Cedula de Identidad de la Persona ha buscar" placeholder="Cedula de Identidad" required>
                    {{#repite persons}}
                    <div class="d-none">
                        <input type="text" name="ci" value="{{ci}}" readonly>
                    </div>
                    {{/repite}}
                    </div>
                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-user"></i> Buscar una Persona mas</button>
                </div>
                <!--<div class="col-auto my-1">
                    <button type="button" id="add_field" class="btn btn-secondary"><i class="fa fa-plus-square"></i> Adicionar</button>
                </div>-->
            </div>
        </form>
    </div>
</div>
<div class="container-fluid">
    <div class="row text-withe p-5 text-center">
        <div class="col-sm-6">
            {{#repite persons}}
                <i class="fab fa-yarn fa-10x"></i>
                <h1 class="card-tittle">
                    {{name}} {{lastname}}
                </h1>
                <h3 class="card-tittle">
                    Edad: {{age}}
                </h3>
            {{else}}
            <div class="bg-danger">
                <h3>Nada que mostrar</h3>
                <p>Le recomendamos, revisar los datos introducidos o realizar un nuevo registro de la persona a buscar
                </p>
                <p>En el caso de una busqueda multiple se requiere del nombre y el apellido para la obtencion de resultados</p>
                <i class="fa fa-child fa-10x"></i><i class="fa fa-times-circle fa-5x"></i>
            </div>
            {{/repite}}
            {{#if persons}}
                <hr class="my-4">
                <h3 class="card-tittle">
                    Busqueda en:
                </h3>
                <div class="col-auto my-1">
                    <form action="/imagedetect/dat" method="POST">
                        {{#repite persons}}
                            <input type="hidden" name="ci" value="{{ci}}">
                        {{/repite}}
                        <button type="submit" class="btn btn-primary"><i class="fa fa-image">Imagen</i></button>
                    </form>
                </div>
                <div class="col-auto my-1">
                    <form action="/videodetect/dat" method="POST">
                        {{#repite persons}}
                            <input type="hidden" name="ci" value="{{ci}}">
                        {{/repite}}
                        <button type="submit" class="btn btn-secondary"><i class="fa fa-video"> Video</i></button>
                    </form>
                </div>
                <!--<div class="col-auto my-1">
                    <form action="/cameradetect/dat" method="POST">
                        {{#repite persons}}
                            <input type="hidden" name="ci" value="{{ci}}">
                        {{/repite}}
                        <button type="submit" class="btn btn-primary"><i class="fa fa-camera">WebCam</i></button>
                    </form>
                </div>-->
            {{/if}}
        </div>
        <div class="col-sm-6">
            <div class="row">
                {{#each persons}}
                <div class="col-md-5">
                    <div class="card animated fadeInRight">
                        <img src="{{path}}" class="card-img-top imgperson">
                        <div class="card-body">
                            <form action="/persons/delete/{{id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-block btn-sm"><i
                                        class="fa fa-trash"></i>
                                    Delete
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {{else}}
                <!--Si no hay datos mostrara un mesaje por pantalla-->
                <div class="card mx-auto">
                    <div class="card-body">
                        <p class="lead">Registra nuevos datos aqui</p>
                        <a href="/persons/add" class="btn btn-success btn-block">Crea Uno!</a>
                    </div>
                    <div class="card-body">
                        <p class="lead">Revisa todos los datos registrados</p>
                        <a href="/persons" class="btn btn-success btn-block">Aquí!</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>