<head>
    <!--SCRIPTS DE SELECT-->
    <script defer src="/script/select.js"></script>
</head>

<div class="container p-4">
<div class="row">
    <div class="col-md-5 mx-auto">
        <div class="card">
            <div class="card-header">
                Registro de Usuario
            </div>
            <div class="card-body">
                <form action="/users/singup" method="POST">
                    <div class="form-group">
                        <!--Agregar mas campos para el registro, como se pide el nombre, apellido, C.I. para la verificar que no se realicen dobles registros, numero de contacto(TEL/CEL), correo electrónico, nombre de usuario y contraseña-->
                        <input type="text" class="form-control" name="name" placeholder="Nombre" value="{{nombre}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="lastname" placeholder="Apellido" value="{{apellido}}">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="numcontact" placeholder="Numero de Cel" value="{{numcontact}}">
                    </div>
                    <div class="form-group row">
                        <input type="text" class="form-control col-sm-6 mx-3" name="ci" placeholder="Cedula de Identidad" value="{{ci}}" pattern="[0-9].{7,}" title="Ingrese solo numeros Ejm:0123456789">
                        <select class="form-control col-sm-4" name="extension">
                            <option>Extension</option>
                            <option>Tja</option>
                            <option>Cbba</option>
                            <option>Chq</option>
                            <option>Sc</option>
                            <option>Pt</option>
                            <option>Or</option>
                            <option>Lp</option>
                            <option>Bn</option>
                            <option>Pd</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <input type="text" class="form-control col-sm-6 mx-3" name="nameinstitucion" id="nameinstitucion" placeholder="Nombre de Institución" value="{{nameinstitucion}}"> <h5> ó &nbsp;</h5> 
                        <select class="form-control col-sm-4" id="instituciones" onchange='cambioOpciones();'>
                            <option value="">Sel. Aquí</option>
                            {{#repite users}}
                            <option>{{nameinstitucion}}</option>
                            {{/repite}}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="nameuser" placeholder="Nombre de Usuario" value="{{username}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password"
                            placeholder="Confirm Password">
                    </div>
                    <button class="btn btn-primary btn-block">
                        Singup
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>